<a href="https://colab.research.google.com/github/abhi-m04/TechnoHacks_internship/blob/main/Transaction_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('creditcard.csv')

In [3]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

# Data Cleaning

In [ ]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

0 means Legit Transaction

1 means Fraud transaction

In [4]:
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [ ]:
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [5]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,760.974786,-0.281494,0.267200,0.848906,0.146804,-0.077904,0.051713,0.139533,-0.059771,0.014492,...,0.056618,-0.012217,-0.144666,-0.043548,0.013865,0.108318,0.049441,0.027220,-0.001966,68.404892
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Number of Fraudulent Transactions --> 492

In [6]:
legit_sample = legit.sample(n=492)

In [7]:
data2 = pd.concat([legit_sample, fraud], axis=0)

In [8]:
data2.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
516,382,-0.804275,0.379523,1.892525,0.315886,-0.194783,-0.248984,0.422565,-0.028321,-0.247661,...,-0.152900,-0.213726,0.174706,0.486816,-0.365680,0.963301,-0.045545,0.110528,45.38,0.0
529,393,-2.595500,1.311592,1.323081,-1.127849,0.307467,-0.518202,-2.098817,-4.382469,1.724535,...,3.980384,-0.835845,-1.786329,0.485594,-0.535158,-0.684143,-0.422542,0.047078,64.04,0.0
415,300,0.007043,1.239504,0.417050,0.530004,0.942324,-0.559968,1.502981,-0.751563,0.012713,...,-0.046722,0.720870,-0.141873,0.019747,-0.665861,-0.489940,0.157919,-0.332123,1.91,0.0
557,415,-0.687158,0.886271,1.805077,1.337742,1.027126,-0.517470,1.091071,-0.154526,-1.510994,...,-0.330226,-1.116934,0.212042,0.224770,-0.648441,-0.757447,-0.085294,-0.067074,24.02,0.0
1582,1233,-0.956865,1.483801,1.601873,0.884115,-0.094897,-0.015144,0.305496,0.443680,-0.567253,...,-0.238321,-0.462552,-0.268929,-0.094198,0.524294,-0.364814,0.227555,0.078699,1.49,0.0

In [9]:
data2['Class'].value_counts()

0.0    492
1.0      2
Name: Class, dtype: int64

In [10]:
data2.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,760.020325,-0.159200,0.225880,0.786028,0.215694,-0.128565,0.130420,0.132307,0.016556,0.026806,...,0.021253,-0.015855,-0.131122,-0.062730,0.066618,0.121261,0.057025,0.046661,0.023279,77.027297
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

In [11]:
X = data2.drop(columns='Class', axis=1)
Y = data2['Class']

In [12]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
516    382 -0.804275  0.379523  1.892525  0.315886 -0.194783 -0.248984
529    393 -2.595500  1.311592  1.323081 -1.127849  0.307467 -0.518202
415    300  0.007043  1.239504  0.417050  0.530004  0.942324 -0.559968
557    415 -0.687158  0.886271  1.805077  1.337742  1.027126 -0.517470
1582  1233 -0.956865  1.483801  1.601873  0.884115 -0.094897 -0.015144
...    ...       ...       ...       ...       ...       ...       ...
1519  1188  0.974692 -0.618454  1.189187  0.260653 -1.241627 -0.140155
1672  1297 -2.577786 -0.871437 -0.648350 -0.197175  4.151736  2.516792
746    559 -0.988420  1.044010  1.410774  0.142819 -0.477672 -0.477863
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
516   0.422565 -0.028321 -0.247661  ...  0.117261 -0.152900 -0.213726
529  -2.098817 -4.382469  1.724535  ... -1.148674  3.980384 -0.835845
415   1.502981 -0.751563  0.012713  ...  0.557375 -0.046722  0.720870
557   1.091071 -0.154526 -1.510994  ...  0.021980 -0.330226 -1.116934
1582  0.305496  0.443680 -0.567253  ...  0.158254 -0.238321 -0.462552
...        ...       ...       ...  ...       ...       ...       ...
1519 -0.599202  0.101320  0.964559  ...  0.117763 -0.006735  0.029530
1672 -1.766533 -0.832705 -0.099199  ... -1.072289  1.036031 -1.378481
746   0.168853  0.590441 -0.405238  ... -0.035312 -0.080783 -0.192734
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
516   0.174706  0.486816 -0.365680  0.963301 -0.045545  0.110528   45.38
529  -1.786329  0.485594 -0.535158 -0.684143 -0.422542  0.047078   64.04
415  -0.141873  0.019747 -0.665861 -0.489940  0.157919 -0.332123    1.91
557   0.212042  0.224770 -0.648441 -0.757447 -0.085294 -0.067074   24.02
1582 -0.268929 -0.094198  0.524294 -0.364814  0.227555  0.078699    1.49
...        ...       ...       ...       ...       ...       ...     ...
1519  0.042315  0.497241 -0.017796  0.988186 -0.030459  0.033423  100.00
1672 -0.342906  1.018990 -0.626387  0.120931  0.205618  0.505697   17.99
746  -0.073254  0.555201 -0.070679  0.212872  0.186031  0.092996    9.23
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

Model Training

Logistic Regression

In [15]:
model = LogisticRegression()

In [17]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [18]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [19]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [20]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [21]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.98989898989899